*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: lightseagreen;
    /* transition: background-color 0.5s; */
    background: url('./guitar_08-150p-01.jpg');
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
}

.main_div{
    margin: 10px;
    padding: 10px;
    display: grid;
    justify-content: center;
    /* align-items: center; */
    text-align: center;
}

.controls{
    width: 5%;
}

.controls:hover{
    cursor: pointer;
}

/* .slider{
    width:370px;
}

.slider:hover{
    cursor: pointer;
}
 */

/* .count{
    font-family: Arial, Helvetica, sans-serif;

} */

.songName{
    margin: 5px;
    padding: 5px;
    font-family: Arial, Helvetica, sans-serif;
    color: darkcyan;
    font-size: 20px;
    font-weight: 600
}

.artistName{
    margin: 5px;
    padding: 5px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    color: lightseagreen;
    font-weight: 800
}
/* 
#myRange::-webkit-slider-thumb{
    cursor: pointer;
  background: #20b2aa;
} */